@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Party Invitation
        </title>
        <meta name="viewport" content="device-width" />
    </head>
    <body>
        <div class="text-center">
            <div>
                We are going to have an exciting party <br />
            </div>
            <a asp-action="RSVPForm">RSVP</a>
        </div>
    </body>
</html>
