 
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    Thank you for your response.
    <p>
        Click <a asp-action="ListResponses">here</a> to see the list of reponses
    </p>

    </body>
    </html>