<ng-template [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{temp : 'Header'}">

</ng-template>
<div class="text-white">
    <div class="bg-info p-2">
    There are total of {{ getProductCount() }} products in model
</div>
</div>
<div>
    <p>This is *ngIf example</p>
    <div *ngIf="getProductCount() > 1" class="text-white">
        <div class="bg-info p-2">
            This will be displayed if *ngIf holds true
        </div>
    </div>
    <p>This is *ngSwitch example</p>
    <div class="bg-info p-2 mt-1" [ngSwitch]="getProductByPosition(1)?.name">
        <span *ngSwitchCase="'as'">This is zero</span>
        <span *ngSwitchCase="'TV'">There are TV products</span>
        <span *ngSwitchDefault>There are products in the model</span>
    </div>
    <p>This is *ngFor example</p>
    <table class="table table-sm table-bordered text-dark">
        <tr>
            <th>S.No</th>
            <th> Name </th>
            <th> Category </th>
            <th> Price </th>
        </tr>
        <tr *ngFor="let item of getProducts(); let i = index; let c = count; trackBy : getKey;
        let odd = odd; let last=last;" [class.bg-primary]="odd" 
        [class.bg-warning]="last" [class.bg-info]="isProductSelected(item)">
            <td>
                {{ i + 1 }} of {{ c }}
            </td>
            <td (mouseover)="selectedProduct = item.name">
                {{ item.name }}
            </td>
            <td pa-attr pa-attr-class="table-warning">
                {{ item.category }}
            </td>
            <td pa-attr pa-attr-class="table-info">
                {{ item.price }}
            </td>
        </tr>
    </table>

    <p>This is for directives example</p>
    <table class="table table-sm table-bordered text-dark">
        <tr>
            <th>S.No</th>
            <th> Name </th>
            <th> Category </th>
            <th> Price </th>
        </tr>
        <tr *ngFor="let item of getProducts(); let i = index; let c = count">
            <td>
                {{ i + 1 }} of {{ c }}
            </td>
            <td (mouseover)="selectedProduct = item.name">
                {{ item.name }}
            </td>
            <td [pa-attr-input]="item.category == 'Gadget' ? 'text-danger' : null">
                {{ item.category }}
            </td>
            <td [pa-attr-input]="'table-info'">
                {{ item.price }}
            </td>
        </tr>
    </table>
    
    <ng-template #titleTemplate let-text="temp">
        <h4 class="p-2 bg-success text-white">{{text}}</h4>
    </ng-template>
    <p>This is ng template example usage</p>
    <ng-template [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{temp : 'Footer'}">

    </ng-template>
    <p> This is event binding </p>
    <div>
        <span>
            Selected Product : {{ selectedProduct ?? 'None' }}
        </span>
    </div>
</div>
<div class="form-group">
    <label>Product Name</label>
    <input class="form-control" placeholder="Type something..."
     (input)="selectedProduct = $any($event).target.value" [value]="selectedProduct ?? ''" />
    <h4>Handle Event in a component</h4>
    <input class="form-control" placeholder="Type Someting..." (input)="handleInputEvent($event)" />
</div>
<div class="form-group">
    <h3>Template Reference Variable</h3>
    <input class="form-control" #product placeholder="type something..." (input)="false" />
    Selected Product : {{ product.value }}
</div>
<h3>Ng Model example</h3>
<div class="p-2">
    <div class="bg-info text-white mb-2 p-2">Model Data: {{jsonProduct}}</div>
    <form (ngSubmit)="addProduct(newProduct)">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" [(ngModel)]="newProduct.name" 
                required minLength="5" pattern="^[A-Za-z ]+$" [ngModelOptions]="{standalone: true}" />
        </div>
        <button class="btn btn-primary mt-2" type="submit">
             Create
        </button>
    </form>   
    <!-- <div class="form-group">
        <label>Category</label>
        <input class="form-control" [(ngModel)]="newProduct.category" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" [(ngModel)]="newProduct.price" />
    </div>
        <button class="btn btn-primary mt-2" (click)="addProduct(newProduct)">
            Create
        </button> -->
</div>