a {
    background-color:#f44336; 
    border-collapse: collapse;
    text-align: center;
     padding:10px;
    display:inline-block;
    text-decoration: none;
}

a:hover{
    color:white;
    text-decoration: underline;
}

a:visited{
    color:green;   
}

table, th, td {
    border : 1px solid white;
    border-collapse: collapse;
    border-radius: 5px;
    border-style:dotted;    
}
tr :nth-child(odd){
    background-color:#f44336;
}
    
 